
<!-- <script type="text/javascript" src="./assets/ajax/settings.js" ></script> -->

<span id="NAME" style="display:none"> <%= user.local.name || user.facebook.name %> </span>
<span id="EMAIL" style="display:none"> <%= user.local.email || user.facebook.email %></span>
<span id="ID" style="display:none"> <%= user._id %></span>
<span id="USER" style="display:none"> <%= user %></span>

<div class="container">

  <h1>Settings</h1>

  <% if (user.local.name != null) { %>
    <div class="row">
        <form class="col s12">

          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" autofocus>
              <label for="name">Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          -->

            <button id="update-button" class="blue left waves-effect waves-light btn submit-btn">Enter Changes</button>
            <button id="delete-button" class="red right waves-effect waves-light btn submit-btn">Delete Account</button>
          </form>
      </div>
      <br><br>

      <h4>Reset Password?</h4>
      <button id="reset-password" class="orange left waves-effect waves-light btn submit-btn">Reset Password</button>



    <% } %>
    <% if(user.facebook.name != null) {%>
      <h5>Facebook Users cannot edit their profile</h5>
    <% } %>
</div>


<script type="text/javascript">


window.onload = function() {

  var user_id = $('#ID').html().toString()
  var user_name = $('#NAME').html().toString()
  var user_email = $('#EMAIL').html().toString()
  //var user_obj = $('#USER').html().toString()

  console.log("ID IS: ", user_id)
  console.log("NAME IS: ", user_name)
  console.log("EMAIL IS: ", user_email)
  //console.log("USER: ", user_obj)

  $('#update-button').click(function(event){

    event.preventDefault();
    var input_name =  $('#name').val().toString();
    var input_email = $('#email').val().toString();
    //var input_password = $('#password').val().toString();

    if (input_name == ''){
      input_name = undefined
    }
    if (input_email == ''){
      input_email = undefined;
    }
    /*if (input_password == ''){
      alert('You must input your password');
      return;
    }*/

    /*validate password*/

    $.ajax({
      url: '/users/<%= user._id%>',
      method: 'PATCH',
      dataType: 'json',
      data: {
        name: input_name,
        email: input_email,
      },
      success: function(data, textStatus, jqXHR){
        console.log(data)
        window.location.href = "/";
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(errorThrown)
      }
    })
  })

  $('#delete-button').click(function(event){
    event.preventDefault();
    if (confirm('This is permanent. You still wanna go through with this?')){
      $.ajax({
        url: '/users/<%= user._id%>',
        method: 'DELETE',
        success: function(data, textStatus, jqXHR){
          alert('User has been deleted!');
          window.location.href = "/";
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown)
        }
      })
    }
  })
}




</script>
